<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="testBean1"
        class="framework.lesson.TestBean">
    <constructor-arg value="Neil"/>
  </bean>

  <bean id="testBean2"
        class = "framework.lesson.TestBean">
    <constructor-arg value="Thomas"/>
  </bean>

  <bean id="musicBean"
        class = "framework.lesson.ioc.ClassicalMusic">
  </bean>

  <bean id="musicBean1"
        class="framework.lesson.ioc.RockMusic">
  </bean>

  <bean id="jazzMusic"
        class="framework.lesson.ioc.JazzMusic">
  </bean>

  <bean id="musicPlayer"
        class="framework.lesson.ioc.MusicPlayer">
    <constructor-arg ref="musicBean"/>
  </bean>

</beans>
